$enable-gradients: true;
$enable-shadows: true;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/forms";

.search-links {
    text-align: right;
  }

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

    #search-buttons {
        padding: 10px;
        align-items: center;
    }

    input[type="text"]{
        border-radius: 20px;
        margin: auto;
        width: 300px;
    }
}

input {
    margin: 10px;
}

.multi-input {
    width: 50%;
}

.advanced-btn {
    padding: 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;

    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
